/* The div that wraps everything */
#clickYoutubeD_wrapperSpan {
    position: absolute;
    bottom: 51px;
    left: 235px;
}

/* Download Button */
#clickYoutubeD_downloadButton {
    padding-left: 14px !important;  /* old value 30px / big value 58px */
    padding-right: 30px !important; /* old value 30px / big value 58px */
    margin-left: 50px; /* prev value 38px */
    margin-right: 10px;
    position: relative;
    line-height: 20px;
    z-index: 1001;
}

#clickYoutubeD_downloadButton:focus {
    border-color: #6892E7;
    box-shadow: 0 0 5px rgba(104, 146, 231, 0.5);
    outline: 0 none;    
}

#clickYoutubeD_dropDownSpan ul {
    width: 90%;
}

/* Icon inside the download button */
#clickYoutubeD_wrapperSpan #clickYoutubeD_downloadArrow {
    /*float: left;*/
    position: relative;
    left: -7px;
    bottom: 0px;
    z-index: 1002;
    cursor: pointer;    
}

/* The drop down list that shows up when clicking the download button */
#clickYoutubeD_dropDownSpan {
    position: absolute;
    left: 0px;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    width: 195px;   /* old value 115px / big value 171px; */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
    top: 23px;
    z-index: 1000;
    border: 1px solid #CCCCCC;    
}

/* The video links in the drop down list */
#clickYoutubeD_dropDownSpan a.downloadLinks {
    background: white;
    padding: 5px;
    padding-left: 8px;
    color: #555555;
    display: block;
    /*font-weight: bold;*/
    font-size: 11px;
    position: relative;
    z-index: 11;
}

#clickYoutubeD_dropDownSpan a.downloadLinks:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}

#clickYoutubeD_dropDownSpan a.copyLinks {
    display: inline-block;
    width: 130px;
    color: #555555;
    /*font-weight: bold;*/
    font-size: 11px;
    position: absolute;
    left: 40px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 2;    
}

#clickYoutubeD_dropDownSpan a.copyLinks:hover { }

#clickYoutubeD_dropDownSpan .menuArrows {
    position: absolute;
    right: 0px;
    z-index: 10;
    cursor: pointer;
    background-color: white;
    padding-left: 5px;
}

#clickYoutubeD_extendedSpan {
    position: absolute;
    right: 0px;
    background-color: yellow;
}

.clickYoutubeD_fsizesLoader {
    display: inline-block;
    background-image: url("chrome://clickYoutubeD/skin/icons/loader.gif");
    background-repeat: no-repeat;
    width: 15px;
    height: 5px;
    float: right;
    position: relative;
    top: 4px;
    right: 7px;    
}

.clickYoutubeD_fsizes {
    float: right;
    position: relative;
    display: inline-block;
    font-size: 9px;
    top: 1px;
    right: 2px;
}
