.panel-default > .panel-heading {
  color: #333;
  background-color: #ff9900 !important;
  border-color: #FFFFFF !important;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-image: url(../images/bg_main.png);
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #000000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.popover{
	max-width:600px;
}
.carousel,.item,.active{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}
.carousel-inner{height:100%;}
.carousel-control{
	top:49%;
	left:5px;
	width:50px;
	height:50px;
	margin-top:-20px;
	font-size:70px;
	font-weight:100;
	line-height:30px;
	color:#333;
	text-align:center;
	background:
	transparent;border:0;}
.light-color , .light-color a {color:#000000;text-decoration:none}

.blocky {
	margin-left:8%;
	margin-top:9%;
	}
.blocky h1, 
.blocky h2 {
	/*background-color:rgba(1,240,1,0.5);*/
	display:inline;text-transform:none;
	font-weight:800;
	color:white;
	line-height:52px;
	}
.blocky h1 span, .blocky h2 span{padding:20px;color:#fff;}

.navbar-inverse{


   
   background-color: #000000;
    /*background-image: url(../images/bg_menu.png);*/
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width:100%;
    color: #ffffff !important;
   
    /*text-align: center;   */


}

em {
    font-family: "Shadows Into Light",cursive !important;
    font-size: 1.0em;
    color: #ff9900 !important;	
	
}
.em_fedcom1 {
    font-family: "Shadows Into Light",cursive !important;
    font-size: 1.0em;
    color: #ff9900 !important;
}
.em_fedcom2 {
    font-family: "Shadows Into Light",cursive !important;
    font-size: 1.0em;
    color: #000000 !important;
}
.em_main {
    font-family: "Shadows Into Light",cursive;
    font-size: 1.2em;
    color: #0AF !important;
}
